@import "tailwindcss";

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-syne: "Syne", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --font-syne: "Syne", sans-serif;
    --font-dmsans: "DM Sans", sans-serif;
  }
}

/* Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dmsans), Arial, Helvetica, sans-serif;
}

/* Font Utility Class */
.syne {
  font-family: var(--font-syne), sans-serif;
}
.poppins {
  font-family: var(--font-poppins), sans-serif;
}
.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}
.oranienbaum {
  font-family: var(--font-oranienbaum), sans-serif;
}
.bodoni-moda {
  font-family: var(--font-bodoni-moda), sans-serif;
}
.gfs-didot {
  font-family: var(--font-gfs-didot), sans-serif;
}
.instrument-serif {
  font-family: var(--font-instrument-serif), sans-serif;
}
